
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');


#home{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


#latest{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 800px;
    min-height: 800px;
    margin-top: 40px;
    margin-right: 450px;
  
}

#trending{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 450px;
    height: 690px;
    min-height: 690px;
  
    border-left: 1px solid rgb(171, 170, 170);
  position: fixed;
  top: 50px;
  right: 30px;
 
 
}

::-webkit-scrollbar{
    display: none;
}

#flow{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    overflow-y:auto;
    width: 520;
    min-height: 550px;
}

.juu{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: left;
    color: #4b675c;
}


@media only screen and (max-width: 600px){
    #trending{
        display: none;
    }

    #latest{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 350px;
        min-height: 750px;
        margin-top: 30px;
        margin-right: 0px;
      
    }

    .juu{
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        text-align: left;
        color: #4b675c;
        margin-top: 30px;
      
       
    }
}